

.container {
    padding: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
   
}

.container-right {
    text-align: right;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 10px 0;
}

h3, h4 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}

img {
    vertical-align: middle;
    width: 50px;
    margin-right: 10px;
}


